<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="ws4e.example"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/ws4e.example/src/main/resources/css/default.css">
         </property>
         <property
               name="appName"
               value="ws4e.example">
         </property>
      </product>
   </extension>

</plugin>
